

#sign img{
    width:5%;
    height:5%;
   margin-left: 90%;
}

#pic{
display:flex;
justify-content: center;
margin-top:20%;
}

@media screen and (max-width: 840px) {

    
    #sign img{
        width:10%;
        height:10%;
       margin-left: 90%;
    }

    #pic{
        display:flex;
        justify-content: center;
        margin-top:40%;
        }
}