#bande {
  background-image: url(bande_dessin.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 99vw;
  height: 50vh;
}

.titre {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  font-size: 2rem;
  font-weight: bold;
  color: #a9478e;
}

.obj {
  background-color: #a9478e;
  color: white;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 25%;
  margin-top: 5%;
  width: 50vw;
  height: 10vh;
}

p {
  color: #a9478e;
  background-color: #f4e9f2;
  font-weight: bold;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: -1%;
  margin-left: 25%;
  width: 50vw;
  height: 10vh;
}
#jouer {
  height: 6vh;
  width: 8vw;
  font-size: 1.5vw;
  background: #a9478e;
  color: white;
  width: 150px;
  height: 50px;
  border: solid #a9478e 1px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 45%;
  margin-top:5%;
  
}


@media screen and (max-width: 840px) {
    .titre {
      
        font-size: 1.5rem; 
      }

      p {
        font-size: 1.2rem; 
      }

      #jouer {
        
        font-size: 1rem;
        background: #a9478e;
        color: white;
        width: 150px;
        height: 50px;
        border: solid #a9478e 1px;
        border-radius: 6px;
        font-weight: bold;
        cursor: pointer;
        margin-left: 35%;
        margin-top:5%;
        
      }   
}