#img {
        background:url(../home/logo.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
        opacity:.65;
        z-index:-1; 
        width:100%;
        height:100%;
}

#histoire{
    margin-top: 5%;
    margin-left: 2%;
}


span{
    color:#f08b18;
    font-size:2rem;
    font-weight: bold;
    
}

p{
    font-size: 1.5rem;
    color:black;
    font-size: 1rem;
    text-indent: 10px;
}

